# -------------------
# CMake / Build
# -------------------
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cbp
*.user
*.o
*.obj
*.exe
*.log

# -------------------
# VS Code
# -------------------
.vscode/
*.code-workspace

# -------------------
# OS generated
# -------------------
Thumbs.db
.DS_Store

# -------------------
# Optional
# -------------------
*.ilk
*.pdb
*.idb
*.sdf
*.ipch
*.opensdf
*.cache